.message {
  border-radius: 1rem 1rem 1rem 0;
  position: relative;
}

.message::before {
  content: "";
  position: absolute;
  bottom: 0;
  /* transform: translateX(-100%); */
  left: -0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  background: radial-gradient(
    circle at top left,
    transparent 0.5rem,
    var(--color-gray-100) 0.5rem
  );
}
